<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :job_description %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.select( :region_id, options_for_select(Region.pluck(:name,:id)), {prompt: 'Select a Region'}, {id: 'region_selector'}  )%>
  </div>

  <div class="field">
    <%= form.label :boat_id %>
    <%= form.select( :boat_id, options_for_select(current_user.boats.pluck(:bname,:id)) ) %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.select( :location_id, options_for_select(Location.pluck(:location_name,:id)), {prompt: 'Select an Origin'}, id: 'location_selector'  )%>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.select( :location_id, options_for_select(Location.pluck(:location_name,:id)), {prompt: 'Select a Destination'}, id: 'location_selector' ) %>
  </div>

  <div class="field">
    <%= form.label 'Container(s)' %>
    <%= form.number_field :containers, id: :job_container %>
  </div>



  <div class="field">
    <%= form.label :cost %>
    <%= form.number_field :cost, id: :job_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  document.querySelector("#region_selector").addEventListener("change",function(event){
    let location_selects = document.querySelectorAll("#location_selector");
    console.log(event);
    axios.get(`/regions/${event.target.value}/locations`).then(function(response){
      console.log(response.data[0])
      //for each location select
      location_selects.forEach( locationSelect => {
        //wipe out existing options from select
        locationSelect.innerHTML = "";
        // re-add the options to the select
        response.data.forEach( location => {
          locationSelect.innerHTML += `<option value="${location.id}">${location.location_name}</option>`;
        });
      });
    });
  });




</script>




