<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :job_description %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :job_origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :job_destination %>
  </div>

  <div class="field">
    <%= form.label 'Container(s)' %>
    <%= form.number_field :containers, id: :job_container %>
  </div>

  <div class="field">
    <%= form.label :boat_id %>
    <%= form.select( :boat_id, options_for_select(current_user.boats.pluck(:bname,:id)) ) %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.number_field :cost, id: :job_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
