<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Container(s)</th>
      <th>Cost</th>
      <th>Boat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.description %></td>
        <td><%= job.origin %></td>
        <td><%= job.destination %></td>
        <td><%= job.containers %></td>
        <td><%= job.cost %></td>
        <td><%= job.boats.map{|boat| boat.bname}.join(', ') %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Job', new_job_path %>
