<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @job.origin %>
</p>


<p>
  <strong>Destination:</strong>
  <%= @job.destination %>
</p>

<p>
  <strong>Container(s):</strong>
  <%= @job.containers %>
</p>

<p>
<% @job.boats.each do |boat| %>
  <strong>Boat:</strong>
  <%= boat.bname %>
    <li><%= boat.bname %></li>
<% end %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @job.cost %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
