<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field">
    <%= form.label 'First Name' %>
    <%= form.text_field :fname, id: :user_fname %>
  </div>

  <div class="field">
    <%= form.label 'Last Name' %>
    <%= form.text_field :lname, id: :user_lname %>
  </div>

  <div class="field">
    <%= form.label 'Company Name' %>
    <%= form.text_field :companyname, id: :user_companyname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :user_photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



</body>
<script src="login_page.js"></script>




