<p id="notice"><%= notice %></p>

<p>
  <strong>Jobs:</strong>
  <%= @boat_job.jobs %>
</p>

<p>
  <strong>Boats:</strong>
  <%= @boat_job.boats %>
</p>

<%= link_to 'Edit', edit_boat_job_path(@boat_job) %> |
<%= link_to 'Back', boat_jobs_path %>
