<%= form_with(model: boat, local: true) do |form| %>
  <% if boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% boat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Boat Name' %>
    <%= form.text_field :bname, id: :boat_bname %>
  </div>

  <div class="field">
    <%= form.label 'Capacity (of containers)' %>
    <%= form.number_field :capacity, id: :boat_capacity %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.select :region_id, options_for_select(Region.pluck(:name,:id) ), id: :boat_region %>
  </div>

  <div class="field">
    <%= form.label 'Boat Image' %>
    <%= form.file_field :photo, id: :boat_photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
