<%= form_with(model: boat, local: true) do |form| %>
  <% if boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% boat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bname %>
    <%= form.text_field :bname, id: :boat_bname %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity, id: :boat_capacity %>
  </div>

  <div class="field">
    <%= form.label :current_location %>
    <%= form.text_field :current_location, id: :boat_current_location %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :boat_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
