<p id="notice"><%= notice %></p>

<p>
  <strong>Boat:</strong>
  <%= @boat.bname %>
  <%= image_tag @boat.photo.url(:medium) %>
</p>

<p>
  <strong>Capacity (in containers):</strong>
  <%= @boat.capacity %>
</p>

<p>
	<strong>Region: </strong>
	<%= @boat.region.name %>
</p>

<% if @boat.jobs.any? %>
	<p>
		<strong>Jobs:</strong>
		<%= render partial: 'jobs/jobs' %>
	</p>
<% else %>
	<p>This Boat currently has no jobs</p>
	<%= link_to 'Click Here to Add a New Job', new_job_path %>
 <% end %>

<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
