<% if user_signed_in? %>
	<li><%= link_to 'Company Page', users_path %></li>
	<li><%= link_to "Your Company's Boats", boats_path %></li>
	<li><%= link_to "Your Company's Jobs", jobs_path(@user) %></li>
	<li><%= link_to 'Edit Your Profile', edit_user_registration_path %></li>
	<li><%= link_to('Log_out', destroy_user_session_path, method: :delete) %></li>
<% end %>

