<!DOCTYPE html>
<html>
<head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <body id="users_page">
    <html lang="en">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <title>ShippingProject</title>
</head>
<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render partial: 'nav/nav' %>
    <%= yield %>

</body>
  <!-- <script src="login_page.js"></script> -->
</html>
